
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(0deg, rgb(169, 199, 230), rgb(25, 85, 148)); /*Background color of entire page*/
}

hr{
    height: 1px;
    /*Setting border to 0 and border-top to 1px, get a true 1px hr*/
    border:0;
    border-top: 1px solid rgb(136, 199, 252); /*For light mode*/
}

.current-card{
    color: #fff;    /*text color inside the card*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}



.search{
    width: 100%;
    display: flex;
    align-items: center; /*on the vertical axis of the card align it to center*/
    justify-content: space-between; /*Even distribute items in the horizontal axis of the card*/
}
.search input{
    border: 0; /*remove border around the text input box*/
    outline:0; /*remove border around text input when click on text box*/
    background: rgb(19, 71, 117); /*background color inside the text input box*/
    color: white; /*color of text inside the search input*/
    padding: 10px 25px; /*padding the text inside the search input box*/
    height:60px;  /*height of text input box*/
    border-radius: 30px;  /*cureve the edges of the text box*/
    flex: 1; 
    margin-right: 16px;  /*space on right of text input box*/
    font-size: 18px; /*size of text inside text input box*/
}
::placeholder {    /*Color of the search placeholder text*/
    color: white;
    opacity: 0.7; /* Firefox */
  }
.search button{
    border: 0; /*remove border around the search button*/
    background: #ebfffc; /*Color of the search button*/
    border-radius: 50%;  /*curve the edge of the button*/
    width: 60px; /*width of the button*/
    height: 60px; /*height of the button*/
    cursor: pointer;  /*when hover mouse of button the mouse pointer becomes a finger*/
}
.search button img{
    width: 16px; /*width of the image in the button*/
}



/*Current weather Icon*/
.weather-icon{
    width: 75px;  /*width of the current weather image*/
    margin-top: 30px; /*Space on top of weather image*/
}
/*City Text*/
.weather .city{
    font-size: 45px; /*font size of the city*/
    font-weight:400; /*font weight of the city*/
    margin-top: -10px; /*Space above the city text*/
}
/*Country region text*/
.region{
    font-size: 15px;
    font-weight:100;
    margin-bottom: 10px;
}
/*Current Temperature*/
.weather .temp{
    font-size: 80px; /*font size of the temperature*/
    font-weight:100; /*font weight of the temperature*/
    color: #fee962; /*Color of the temperature output*/
}
/*Feels like text*/
.weather .feel{
    font-size: 20px; /*Font size of the feels like*/
    font-weight: 100; /*font weight of the feels like*/
    margin-top: 10px; /*margin-top of the feels like*/
    margin-bottom: 10px; /*margin-bottom of the feels like*/
}
/*Current Condition*/
.weather .condition{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 10px;
}
/*The div that holds both the H and L values of the current card*/
.HL{
    display:flex;
    justify-content: center;
    font-size: 20px;
}
/*The H value in the current card*/
.H{
    margin-right: 5px;
}
/*The L value in the current card*/
.L{
    margin-left: 5px;
}




/*The rest of the elements belong to the CSS Grid layout*/
/*Basic setup for my grid layout*/
.my-grid{
    display:grid;  /*set grid mode for the my-grid div*/
    width:1340px;  /*width of the grid*/
    gap: 1.5rem;  /*Space between each element in the grid*/
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));  /*auto the number of columns, each element minimum 200px wide*/
    grid-auto-rows: 200px; /*the grid rows are 200px tall*/
    margin: auto;
    /*border: solid rgb(221, 224, 14) 2px;*/
}
.hourly-card{
    grid-column: span 4 / auto; /*hourly card spans 4 columns*/      
}
.daily-card{
    grid-column: span 2 / auto; /*daily card spans 2 columns wide*/
    grid-row: span 2 / auto; /*daily card spans 2 rows tall*/
}
.airQual-card{
    grid-column: span 2 / auto;  /*air quality card spans 2 rows wide*/
}




/*Title of cards setup*/
.full-title{
    display: flex;
}
.card-title{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: rgb(136, 199, 252);
}
.full-title .icon{
    width: 15px;
    margin-right: 5px;
    margin-left: -5px;
}



.square-card {
    width: 200px;  /*width of the card*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 20px 20px;  /*Internal padding from the border of the card*/
    text-align: left;   /*Move elements to center*/
    /*border: solid rgb(224, 56, 14) 1px;*/
    position: relative;  /*position: relative;  so we can use this as a parent div and position div elements in it */
}




.hourly-card{
    width: 877px;  /*width of the card*/
    background: rgb(37, 113, 181); /*background color of hourly card*/
    color: #fff;    /*text color inside the card*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 20px 20px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
    /*border: solid rgb(14, 224, 59) 2px;*/
}
.hourly-weather{
    display: flex;  /*add flex mode inside the col containers*/
    /*border: solid rgb(221, 224, 14) 2px;*/
    overflow: auto;  /*give the hourly weather a horizontal scroll bar*/
}
.hour{
    margin-right: 35px;
    /*border: solid rgb(221, 224, 14) 2px;*/
}
.hourNum{
    font-size: 13px;
}
.hour img{
    width: 30px; /*width of image inside col container*/
    margin-right: 0px; /*margin to the right of image in the col conatiner*/
}




/* Humidity card */
.humidity{
    font-size: 2em;
}
.dewpoint{
    font-size: 0.95em;
    position: absolute;  /*Parent div is square-card, with use position:absolute to specify where in parent*/
    bottom: 15px;  /*Position in the parent div*/
}


/* Precipitation card */
.precipitation{
    font-size: 2em;
}
.future-precipitation{
    font-size: 0.95em;
    position: absolute; /*Parent div is square-card, with use position:absolute to specify where in parent*/
    bottom: 15px;  /*Position in the parent div*/
}
.precipitation-desc{
    font-size: 1.3em;
}


/* The three day card (should probably rename the div for this card)*/
.daily-card{
    width: 425px;  /*width of the card*/
    background: rgb(37, 113, 181); /*background color of the daily card*/
    color: #fff;    /*text color inside the card*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 20px 20px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
    /*border: solid rgb(221, 224, 14) 1px;*/
}
.daily-weather{
    margin-left: -5px;
    margin-right: -5px;
    /*border: solid rgb(14, 196, 224) 1px;*/
}
.dayWeather{  /*Container containing the three columns*/
    display: flex;
    margin-bottom: 25px;
    /*border: solid rgb(224, 84, 14) 1px;*/
}
.dailycol1{  /*First column of daily-card*/
    margin: auto;
    width: 33.33%;
    text-align: left;
    /*border: solid rgb(49, 224, 14) 1px;*/
}
.dailycol2{  /*Second column of daily card*/
    margin:auto;
    text-align: left;
    width: 33.33%;
    /*border: solid rgb(49, 224, 14) 1px;*/
}
.dailycol3{
    margin:auto;
    text-align: left;
    width: 20%;
    /*border: solid rgb(49, 224, 14) 1px;*/
}
.theDay{   /*Day name portion of the daily card*/
    font-weight: 600;
    margin: auto;
}
.dayWeather img{  /*Weather icon associated with the day*/
    display:flex; /* Not sure why i put the img as flex, might not be needed*/
    width: 30px; /*width of image inside col container*/
    margin:0;
}
.dayhigh{  /*the high temperature of the daily card*/
    font-weight: 600;
    margin: auto;
    margin-bottom: 9px;
}
.daylow{   /*The low temperature of the daily card*/
    color:rgb(136, 199, 252);
    font-weight: 600;
    margin: auto;
}
.daypop{   /*The POP % portion of the daily card*/
    font-weight: 600;
    margin: auto;
    margin-bottom: 9px;
    /*border: solid rgb(49, 224, 14) 1px;*/
}
.dayprecip{
    color:rgb(136, 199, 252);
}
.daily-condition{   /*the condition text portion of the daily card*/
    text-align:left;
    font-size: 0.95em;
    padding-left: 12px;
    padding-bottom: 10px;
}


/* Air quality card */
.airQual-card{
    width: 425px;  /*width of the card*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 20px 20px;  /*Internal padding from the border of the card*/
    text-align: left;   /*Move elements to center*/
    /*border: solid rgb(221, 224, 14) 2px;*/
}
.airQual-card img{
    width:380px;  /*width of the image inside the air quality card*/
}
.airDesc{
    font-size: 1.3em;
}

.airNote{
    padding-top: 30px;
    font-size: 0.95em;
}


/* Wind card */
.wind{
    font-size: 2em;
}
.windDirection{
    font-size: 1.3em;
    padding-top: 0px;
}
.windGust{
    
    font-size: 0.95em;
    position: absolute; /*Parent div is square-card, with use position:absolute to specify where in parent*/
    bottom: 15px; /*Position in the parent div*/
}


/* UV-index card */
.uvIndex{
    font-size:2em;
}
.uvDesc{
    font-size: 1.3em;
}
.uvimg{
    padding-top:50px;
}
.square-card .uvimg{   /*Image inside the UV index card (not sure why this css is weird)*/
    width: 160px;
}


/* Sunrise card */
.sunrise{
    font-size: 2em;
}
.sunrise-img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 70px;
}


/* Sunset card */
.sunset{
    font-size: 2em;
}
.sunset-img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 70px;
}


/* Visibility card */
.visibility{
    font-size: 2em;
}
.visible-note{
    font-size: 0.95em;
    position: absolute;   /*Parent div is square-card, with use position:absolute to specify where in parent*/
    bottom: 15px;  /*Position in the parent div*/
    /*border: solid rgb(221, 224, 14) 1px;*/
}


/* Pressure card */
.pressure{
    font-size: 2em;
}



@media screen and (max-width: 1340px){
    .my-grid{
        width:1100px;
    }
}

@media screen and (max-width: 1119px){
    .my-grid{
        width:880px;
    }
}

@media screen and (max-width: 900px){
    .my-grid{
        width:430px;
    }
    .hourly-card{
        width: 425px;
        grid-column: span 2 / auto; 
    }
}

