
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(0deg, rgb(169, 199, 230), rgb(25, 85, 148));
}


/*Color of the search placeholder text*/
::placeholder {
    color: white;
    opacity: 0.7; /* Firefox */
  }


.current-card{
    /*width: 90%;  /*width of the card*/
    /*max-width: 470px;  /*max width of the card*/
    /*background: linear-gradient(135deg, #00feba, #5b548a);*/
    /*background: linear-gradient(135deg, #45a2b3, #3b317e);*/
    /*background: linear-gradient(0deg, rgb(169, 199, 230), rgb(25, 85, 148));*/
    color: #fff;    /*text color inside the card*/
    /*margin: 100px auto 0;   /*center the card and make 100px space from top*/
    /*border-radius:20px;   /*make the card have curved edges*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}

.search{
    width: 100%;
    display: flex;
    align-items: center; /*on the vertical axis of the card align it to center*/
    justify-content: space-between; /*Even distribute items in the horizontal axis of the card*/
}

.search input{
    border: 0; /*remove border around the text input box*/
    outline: 0;  
    background: rgb(19, 71, 117); /*background color inside the text input box*/
    color: white; /*color of text inside the search input*/
    padding: 10px 25px; /*padding the text inside the search input box*/
    height:60px;  /*height of text input box*/
    border-radius: 30px;  /*cureve the edges of the text box*/
    flex: 1; 
    margin-right: 16px;  /*space on right of text input box*/
    font-size: 18px; /*size of text inside text input box*/
}

.search button{
    border: 0; /*remove border around the search button*/
    outline: 0;
    background: #ebfffc; /*Color of the search button*/
    border-radius: 50%;  /*curve the edge of the button*/
    width: 60px; /*width of the button*/
    height: 60px; /*height of the button*/
    cursor: pointer;  /*when hover mouse of button the mouse pointer becomes a finger*/
}

.search button img{
    width: 16px; /*width of the image in the button*/
}

/*Current weather Icon*/
.weather-icon{
    width: 75px;  /*width of the current weather image*/
    margin-top: 30px; /*Space on top of weather image*/
}

/*City Text*/
.weather .city{
    font-size: 45px; /*font size of the city*/
    font-weight:400; /*font weight of the city*/
    margin-top: -10px; /*Space above the city text*/
}

/*Country region text*/
.region{
    font-size: 15px;
    font-weight:100;
    margin-bottom: 10px;
}

/*Current Temperature*/
.weather .temp{
    font-size: 80px; /*font size of the temperature*/
    font-weight:100; /*font weight of the temperature*/
    color: #fee962; /*Color of the temperature output*/
}

/*Feels like text*/
.weather .feel{
    font-size: 20px; /*Font size of the feels like*/
    font-weight: 100; /*font weight of the feels like*/
    margin-top: 10px; /*margin-top of the feels like*/
    margin-bottom: 10px; /*margin-bottom of the feels like*/
}

/*Current Condition*/
.weather .condition{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 10px;
}

.HL{
    display:flex;
    justify-content: center;
    font-size: 20px;
}

.H{
    margin-right: 5px;
}

.L{
    margin-left: 5px;
}


.card-row{
    display:flex;
}
.hourly-card{
    width: 60%;  /*width of the card*/
    /*max-width: 470px;  /*max width of the card*/
    /*background: linear-gradient(135deg, #00feba, #5b548a);*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    margin: 50px auto 0;   /*center the card and make 100px space from top*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}

.hourly-card   h1{
    font-size: 17px;
    font-weight: 100;
    text-align: left;
}

.hourly-weather{
    display: flex;  /*add flex mode inside the col containers*/
    /*border: solid rgb(221, 224, 14) 2px;*/
    overflow: auto;  /*give the hourly weather a horizontal scroll bar*/
    
}

.hour{
    margin-right: 35px;
    /*border: solid rgb(221, 224, 14) 2px;*/
}

.hourNum{
    font-size: 15px;
}

.hour img{
    width: 30px; /*width of image inside col container*/
    margin-right: 0px; /*margin to the right of image in the col conatiner*/
}

.uv-card{
    width: 15%;  /*width of the card*/
    /*max-width: 470px;  /*max width of the card*/
    /*background: linear-gradient(135deg, #00feba, #5b548a);*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    margin: 50px auto 0;   /*center the card and make 100px space from top*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}

.wind-card{
    width: 15%;  /*width of the card*/
    /*max-width: 470px;  /*max width of the card*/
    /*background: linear-gradient(135deg, #00feba, #5b548a);*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    margin: 50px auto 0;   /*center the card and make 100px space from top*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}

.sunrise-card{
    width: 15%;  /*width of the card*/
    /*max-width: 470px;  /*max width of the card*/
    /*background: linear-gradient(135deg, #00feba, #5b548a);*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    margin: 50px auto 0;   /*center the card and make 100px space from top*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}

.sunset-card{
    width: 15%;  /*width of the card*/
    /*max-width: 470px;  /*max width of the card*/
    /*background: linear-gradient(135deg, #00feba, #5b548a);*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    margin: 50px auto 0;   /*center the card and make 100px space from top*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}

.humidity-card{
    width: 15%;  /*width of the card*/
    /*max-width: 470px;  /*max width of the card*/
    /*background: linear-gradient(135deg, #00feba, #5b548a);*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    margin: 50px auto 0;   /*center the card and make 100px space from top*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}

.daily-card{
    width: 50%;  /*width of the card*/
    /*max-width: 470px;  /*max width of the card*/
    /*background: linear-gradient(135deg, #00feba, #5b548a);*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    margin: 50px auto 0;   /*center the card and make 100px space from top*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}

.daily-card   h1{
    font-size: 17px;
    font-weight: 100;
    text-align: left;
    
}

.dayWeather{
    display: flex;
}

.dayWeather img{
    width: 30px; /*width of image inside col container*/
    margin:0;
}

.airQual-card{
    width: 40%;  /*width of the card*/
    /*max-width: 470px;  /*max width of the card*/
    /*background: linear-gradient(135deg, #00feba, #5b548a);*/
    background: rgb(37, 113, 181);
    color: #fff;    /*text color inside the card*/
    margin: 50px auto 0;   /*center the card and make 100px space from top*/
    border-radius:20px;   /*make the card have curved edges*/
    padding: 40px 35px;  /*Internal padding from the border of the card*/
    text-align: center;   /*Move elements to center*/
}

.sunrise-card img{
    width: 70px; /*width of image inside col container*/
    margin-right: 10px; /*margin to the right of image in the col conatiner*/

}

.sunset-card img{
    width: 70px; /*width of image inside col container*/
    margin-right: 10px; /*margin to the right of image in the col conatiner*/

}